<% provide :title, "写真館 - おすすめ観光スポット・ツアー体験談" %>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>格安で台湾の完全カスタマイズツアーを企画する台湾穴場旅行社 - 台南・高雄・台東でおすすめ観光スポット・見どころを紹介</title>

  <!-- Bootstrap -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/responsive-slider.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/animate.css">
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Arsha
    Theme URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <header>
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <div class="navbar-brand">
                <a href="/"><img src="assets/top.png" alt="台湾穴場旅行"></a>
              </div>
            </div>
            <div class="menu">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="/home">トップ</a></li>

                <!-- <li role="presentation"><a href="blog.html">blog</a></li> -->
                <li role="presentation" class="active"><a href="/portfolio">写真館</a></li>
                <li role="presentation"><a href="/inquiry">料金・問合せ</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="recent">
        <button class="btn-primarys"><h3>観光スポット</h3></button>
        <hr>
      </div>
    </div>
  </div>

  <section class="portfolio">
    <div class="container">
      <div class="row">
        <div class="popup-gallery">
          <div class="col-md-3">
            <a href="assets/portfolio/1.jpg" title="台南"><img src="assets/portfolio/1.jpg" class="img-responsive"alt="" /></a>
          </div>
          <div class="col-md-3">
            <a href="assets/portfolio/2.jpg" title="The Cleaner"><img src="assets/portfolio/2.jpg" class="img-responsive"alt="" /></a>
          </div>
          <div class="col-md-3">
            <a href="assets/portfolio/3.jpg" title="The Cleaner"><img src="assets/portfolio/3.jpg" class="img-responsive"alt="" /></a>
          </div>
          <div class="col-md-3">
            <a href="assets/portfolio/4.jpg" title="The Cleaner"><img src="assets/portfolio/4.jpg" class="img-responsive"alt="" /></a>
          </div>
        </div>
      </div>
    </div>

    <div class="box2">
      <div class="container">
        <div class="row">
          <div class="popup-gallery">
            <div class="col-md-3">
              <a href="assets/portfolio/5.jpg" title="The Cleaner"><img src="assets/portfolio/5.jpg" class="img-responsive"alt="" /></a>
            </div>
            <div class="col-md-3">
              <a href="assets/portfolio/6.jpg" title="The Cleaner"><img src="assets/portfolio/6.jpg" class="img-responsive"alt="" /></a>
            </div>
            <div class="col-md-3">
              <a href="assets/portfolio/7.jpg" title="The Cleaner"><img src="assets/portfolio/7.jpg" class="img-responsive"alt="" /></a>
            </div>
            <div class="col-md-3">
              <a href="assets/portfolio/8.jpg" title="The Cleaner"><img src="assets/portfolio/8.jpg" class="img-responsive"alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="motto">
        <a href=""><h4>もっと見る&nbsp;<i class="fa fa-external-link"></i></h4></a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="recent">
        <button class="btn-primarys"><h3>ツアー体験談</h3></button>
        <hr>
      </div>
    </div>
  </div>

  <section class="portfolio">
    <div class="container">
      <div class="row">
        <div class="popup-gallery">
          <div class="col-md-3">
            <a href="assets/portfolio/1.jpg" title="The Cleaner"><img src="assets/portfolio/1.jpg" class="img-responsive"alt="" /></a>
          </div>
          <div class="col-md-3">
            <a href="assets/portfolio/2.jpg" title="The Cleaner"><img src="assets/portfolio/2.jpg" class="img-responsive"alt="" /></a>
          </div>
          <div class="col-md-3">
            <a href="assets/portfolio/3.jpg" title="The Cleaner"><img src="assets/portfolio/3.jpg" class="img-responsive"alt="" /></a>
          </div>
          <div class="col-md-3">
            <a href="assets/portfolio/4.jpg" title="The Cleaner"><img src="assets/portfolio/4.jpg" class="img-responsive"alt="" /></a>
          </div>
        </div>
      </div>
    </div>

    <div class="box2">
      <div class="container">
        <div class="row">
          <div class="popup-gallery">
            <div class="col-md-3">
              <a href="assets/portfolio/5.jpg" title="The Cleaner"><img src="assets/portfolio/5.jpg" class="img-responsive"alt="" /></a>
            </div>
            <div class="col-md-3">
              <a href="assets/portfolio/6.jpg" title="The Cleaner"><img src="assets/portfolio/6.jpg" class="img-responsive"alt="" /></a>
            </div>
            <div class="col-md-3">
              <a href="assets/portfolio/7.jpg" title="The Cleaner"><img src="assets/portfolio/7.jpg" class="img-responsive"alt="" /></a>
            </div>
            <div class="col-md-3">
              <a href="assets/portfolio/8.jpg" title="The Cleaner"><img src="assets/portfolio/8.jpg" class="img-responsive"alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="motto">
        <a href=""><h4>もっと見る&nbsp;<i class="fa fa-external-link"></i></h4></a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <hr>
    </div>
  </div>

  <footer>
    <div id="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="copyright">
              <p>
                <a href="/">&copy; 台湾穴場旅行</a><span>, All right reserved.</span>
              </p>
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Arsha
                -->
                <small><a href="https://bootstrapmade.com/">Bootstrap Templates</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a></small>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <ul class="social-network">
              <li><a href="#" data-placement="top" title="Facebook" target="_blank"><b>Facebookにて最新情報をお届け！ </b></a><a href="#" data-placement="top" title="Facebook" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="assets/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="assets/bootstrap.min.js"></script>
  <script src="assets/responsive-slider.js"></script>
  <script src="assets/wow.min.js"></script>
  <script src="assets/jquery.magnific-popup.js"></script>
  <script src="assets/functions.js"></script>
  <script>
    wow = new WOW({}).init();
  </script>

</body>
</html>
